<footer class="footer footer-transparent d-print-none">
    <div class="container-fluid">
      <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
          <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                  <span class="text-gray-400 fw-semibold me-1">Powered by</span>
                  <a href="https://inesssolutions.com" target="_blank" class="text-muted text-hover-primary fw-semibold me-2 fs-6">InESS Solutions, inc.</a>
              </li>
          </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
              <a href="https://inesssolutions.com" target="_blank" class="menu-link px-2">Expense Management Version 1.0</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>